
$white:             #FFFFFF;
$gray-50:           #f8f9fa;
$gray-100:          #E8E9E9;
$gray-200:          #D1D3D4;
$gray-300:          #BABDBF;
$gray-400:          #808488;
$gray-500:          #666A6D;
$gray-600:          #4D5052;
$gray-700:          #333537;
$gray-800: 			#292b30;
$gray-900:          #1C1D1E;

$black: 			#292b30;
$primary: 			#016BD6;
$secondary: 		#00A3F1;
$success: 			#2BC840;
$info: 			    #00D3E5;
$warning: 			#fcfc17;
$danger: 			#FF9066;